/* ✅ Mobile-first default (1 column) */
.layout {
    display: grid;
    gap: 0.5rem 0.25rem;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem auto auto auto auto 3rem;
    grid-template-areas:
    "header"
    "nav"
    "aside1"
    "main"
    "aside2"
    "footer";
    height: 100vh;
    padding: 5px;
}

/* ✅ Wider screens (desktop/tablet layout) */
@media (min-width: 800px) {
    .layout {
        grid-template-columns: 160px auto 200px;
        grid-template-rows: 60px auto auto 40px;
        grid-template-areas:
      "header header header"
      "nav main aside2"
      "aside1 main aside2"
      "footer footer footer";
    }

}

/* https://www.geeksforgeeks.org/css/how-to-change-image-color-in-css/ */
.icons {
    position: relative;
    display: inline-block;
    invert(100%);
}
.icons img {
    display: block;
}
.icons::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: pink; /* pink overlay with 50% opacity */
    opacity: 90%;
    mix-blend-mode: multiply;
}

#dateWidget {
    margin: 10px;
    background-image: linear-gradient(to right, #fae1ac, #f4bebe); ;
    width: 120px;
    text-align: center;
    border-radius: 10px;
    line-height: 1.5;
    padding: 25px;
    color: white;
    border-style: solid;
    border-width: 2px;
    font-size: 15px;
}

#findMe {
    margin: 10px;
}

#findMe img {
    height: 25px;
    width: 25px;
}
