/* Full-page background */
html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', monospace;
    background-image: url("../assets/images/bkgs/fairyNight_bkg.jpg"); /* adjust path if needed */
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}
header {
    /*background: #85a2dd;*/
    opacity: 80%;
    color: #fff;
    padding: 2rem 0;
    text-align: left;
    font-stretch: extra-expanded;
    border-radius: 11px;
}
footer {
    background: #eee;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
    color: #888;
    opacity: 50%;
    border-radius: 11px;
}

header, nav, main {
    margin: 2px;
    background: #c7a4c9;
    opacity: 50%;
    border: 2px outset #fff;
    border-radius: 13px;
    padding: 0.5rem;
    height: fit-content;
}

nav {
    background: #dcdcdc;
    /*border: 2px outset #fff;*/
    padding: 0.5rem;
    height: fit-content;
}

nav h4 {
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
}

.navLink {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding: 0.3rem;
    margin: 0.2rem 0;
    background: #e0e0e0;
    border: 2px outset #fff;
    text-decoration: none;
    color: #000;
    font-size: 10px;
}

.navLink:hover {
    background: #bfbfbf;
}

/*nav {*/
/*    background: #dcdcdc;*/
/*}*/
/*.navLink {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    gap: 8px;*/

/*    padding: 8px 12px;*/
/*    margin: 6px 0;*/
/*    background-color: #bdacb4; !* default *!*/
/*    color: #000;*/
/*    text-decoration: none;*/
/*    border: 1px solid #000;*/
/*    border-radius: 0; !* square edges for pixel style *!*/
/*    font-family: 'Press Start 2P', monospace; !* Optional: pixel font *!*/
/*    font-size: 10px;*/
/*    image-rendering: pixelated; !* for pixel icons *!*/
/*    transition: none; !* no smooth effects *!*/
/*}*/

.navLink img {
    width: 30px;
    height: 30px;
    opacity: 100%;
}

/*.navLink:hover,*/
/*.navLink:focus {*/
/*    background-color: #f4bebe;*/
/*    outline: 1px solid #000;*/
/*    outline-offset: -2px;*/
/*}*/

/*.navLink:active {*/
/*    background-color: #f4bebe;*/
/*    transform: translateY(1px); !* subtle press effect *!*/
/*}*/

main {
    grid-area: main;
    background: #ffafc0;
}
h1 {
    margin: 0;
    font-size: 20px;
}
h3, h4 {
    text-align: center;
    text-underline: #c7a4c9;
    font-size: 12px;
}
p {
    margin: 10px;
    font-size: 15px;
    font-family: monospace;
}
@media (max-width: 600px) {
  body {
    background-repeat: repeat;
    background-size: auto;
  }
    aside, main{
        background-color: #c7a4c9;
        opacity: 50%;
    }
}
